body {
	/*background-image: url('http://cch5ng.github.io/quote-generator/media/nraymond_wdaisy640x640.jpg');*/
	/* should there be separate image for portrait and landscape at each breakpoint? */
	background-color: #b0aeba;
	color: #000;
	font-family: 'Raleway', sans-serif;
}

header {
	margin-top: 35px;
}

main {
	margin-top: 25px;
}

h2 {
	text-align: center;
}

p {
	font-size: 1.25em;
	text-align: center;
}

footer {
	color: #042e48;
	font-size: 0.85em;
}

/*.container {
	height: 100%;
}
*/

.buttons {
	margin: 20px auto;
}

.button {
	width: 100%;
	background-color: #0b75b4;
	font-size: 1.25em;
	display: block;
	margin: 10px auto;
	/* overwriting bootstrap button style */
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-radius: 10px;
	border-bottom: 3px solid #07517d;
}

.cartoon {
	background-image: url('https://cch5ng.github.io/weather/media/pengucorn_md.png');
}

.quote {
	margin-top: 15px;
	font-size: 1.4em;
}

.source {
	text-align: center;
	font-style: italic;
}

.hidden {
	display: none;
}

a:link, a:visited {
	color: #042e48;
	border: 0;
}

a:hover, a:active {
	text-decoration: underline;
}

@media only screen and (min-width: 480px) {

/*	body {
		background-image: url('http://cch5ng.github.io/quote-generator/media/nraymond_wdaisy768x1024.jpg');
	}*/

	.button {
		width: 50%;
	}
}


@media only screen and (min-width: 768px) {

/*	body {
		background-image: url('http://cch5ng.github.io/quote-generator/media/nraymond_wdaisy1024x768.jpg');
	}*/

	header {
		margin-top: 100px;
	}

	.buttons {
		margin: 30px auto;
	}

	.button {
		width: 33%;
	}
}

@media only screen and (min-width: 992px) {
/*	body {
		background-image: url('http://cch5ng.github.io/quote-generator/media/nicolas_raymond_winter_daisy.jpg');
	}*/

	.button {
		width: 200px;
	}
}

@media only screen and (min-width: 1200px) {
	/* how to handle case where screen is wider than image width*/
}